/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/******************* General Styles - Global *******************/
html {
  font-size: 16px;
}

body {
  font-family: 'Spartan', serif;
  font-size: 1em;
}

ul,
ol {
  text-transform: uppercase;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 span {
  font-family: 'Sacramento', cursive;
  font-size: 1.75em;
  color: #1f1f2e;
}

h2 {
  font-family: 'Spartan', serif;
  font-size: 2em;
  font-weight: lighter;
}

h3 {
  font-family: 'Spartan', serif;
  font-size: 1.5em;
  font-weight: lighter;
}

p {
  line-height: 1.25em;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

/*------------ Base Header - Footer Flex Styles ------------*/
header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #088b99;
}

header .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

header {
  padding: 15px 0;
}

header nav {
  width: 80%;
  font-size: 1.125em;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  font-size: 1.125em;
}


footer {
  flex-direction: column;
  text-align: center;
}

footer p{
  margin: 0;
}

footer .content-wrapper {
  width: 55%;
  margin: 50px 0;
}

footer .social-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .social-icons p {
  justify-content: space-between;
}

.social-icons i {
  font-size: 1.5em;
}

/* -------------- Mobile Styles -------------- */
/* Hero Area Mobile */
.hero-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  min-height: 500px;
}

.hero-area .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-area h1 {
  font-weight: 500;
  line-height: 1em;
}

/* About Mobile*/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.about .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}



/* Skillz Mobile */

.skillz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.skillz .skillz-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.skillz h2 {
  margin: 20px;
}

.skillz p {
  margin: 20px;
  text-align: center;
}

.skillz i {
  font-size: 2.75em;
}

/* Work Mobile */

.work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.work .work-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 768px) {
  /*Tablet Styles Here*/

  /* General Styles Tablet */
  .content-wrapper {
    max-width: 640px;
    margin: 100px 0;
  }

  /* Header Tablet */
  header {
    justify-content: space-around;
    padding: 30px 0;
  }

  header .content-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  header nav {
    width: 20%;
  }

  header nav ul {
    justify-content: space-between;
  }

  /* Hero Area Tablet */
  .hero-area {
    min-height: 500px;
  }

  .hero-area h1 {
    margin: 0;
    text-align: right;
    font-size: 2em;
    line-height: 1;
  }

  /* About Tablet */
  .about article figure,
  .about div {
    width: 150%;
  }

  .about article {
    display: flex;
    justify-content: space-between;
  }



  /* Skillz Tablet */
  .skillz h2 {
    width: 80%;
  }

  .skillz article {
    width: 250px;
    padding: 30px;
  }

  /* Footer */
  footer .content-wrapper {
    width: 65%;
    margin: 100px 0;
  }

  footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  footer .copyright {
    width: 180px;
  }

  /* Portfolio Tablet */
  .work article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 50%;
  }

}

@media only screen and (min-width: 1200px) {
  /*Desktop Styles Here*/
  .content-wrapper {
    max-width: 960px;
  }

  /* Hero Desktop */
  .hero-area h1 {
    width: 100%;
    font-size: 3.75em;
  }

  .hero-area {
    min-height: 750px;
  }

  /* About Desktop */
  .about h2 {
    width: 80%;
  }

  .about .content-wrapper {
    min-height: 600px;
  }

  /*Skillz Desktop */
  .skillz h2 {
    width: 95%;
    padding: 30px 0;
  }

  .skillz article {
    margin: 50px 0;
    padding: 30px 0;
    flex-basis: 300px;
  }

  /*Portfolio Desktop */
  .work h2{
    width: 100%;
    font-size: 3em;
  }

  .work p {
    font-size: 1.125em;
    line-height: 1;
  }

  /*Footer Desktop */
  footer .content-wrapper {
    width: 70%;
    margin: 100px 0;
  }

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
